* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

a[class],
a[class]:visited,
a[class]:hover {
  text-decoration: none;
}

a:not([class]) {
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background: transparent;
}

@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");
html {
  font-size: 0.875rem;
  font-family: "Noto Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
